doctype html
html
  head
    meta(charset='utf-8')      
    title Random Numbers
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1 Random Numbers
    button Get 20 random numbers!
    #evens Even numbers:
    #odds Odd numbers:

    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
